{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% if app.request.locale == 'fr' %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&display=swap" rel="stylesheet">
    {% endif %}

    {% if app.request.locale == 'en' %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=IM+Fell+French+Canon:ital@0;1&display=swap" rel="stylesheet">
    {% endif %}

    
{% endblock %}

{% block body %}

<div class="container">
    <!-- Top left content -->
    <div class="top-left">
        <h1>{{ 'home.title'|trans }}</h1>
    </div>

    <!-- Top right content -->
    <div class="top-right">
        {{ 'home.logged_in_as'|trans({'%email%': app.user.email}) }}
    </div>

    <div class="centered">
        {% if app.request.locale == 'fr' %}
            <div style="font-family: 'IM Fell French Canon', serif;">
                <p><em>{{ 'home.content'|trans|raw }}</em></p> {# Italicized for French version #}
            </div>
        {% else %}
                <div style="font-family: 'Handjet', sans-serif;">
                    {{ 'home.content'|trans|raw }}
                </div>
        {% endif %}
    </div>
</div>
 
    {# <a href="{{ path('switch_locale', {'locale': 'en'}) }}">English</a> #}
    {# <a href="{{ path('switch_locale', {'locale': 'fr'}) }}">Français</a> #}

    

   {# import 'macros.html.twig' as macros #}
{# Display the form with the macro (FOR A DEMO REMOVE the comments) #}
    {#
    <form action="/submit" method="post">
        <p>{{ macros.input('Email', 'email', null, 'email', 30, 'Enter your email', 'email', 'form-control', true) }}</p>
        <p>{{ macros.input('Password', 'password', null, 'password', 30, 'Enter your password', 'password', 'form-control', true) }}</p>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    #}
{% endblock %}
