<html>
    <head>
            {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
        <link  href="{{ asset('css/style.css') }}" rel="stylesheet"/>

        <link rel="stylesheet" href="{{ asset('metronic/dist/css/style.bundle.css') }}">
        <script src="{{ asset('metronic/dist/js/scripts.bundle.js') }}"></script>
    {% endblock %}
    </head>
    <body>
        <div class="container mx-auto p-4">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
            <script src="{{ asset('js/script.js') }}"></script>
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </body>
</html>
